/*==== Login ===*/

#logoIndex {
  padding-top: 30px;
  padding-bottom: 15px;
  width: 100%;
}

.pd {
  margin: 3% 0;
}

.center {
  text-align: center;
  padding-bottom: 10px;
}

.inline {
  display: inline-block;
}

.green-one {
  background-color: #82b43f;
  border: none;
}

.full {
  width: 100%
}



